@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --lt-font-wt: 300;
    --md-font-wt: 400;
    --dk-font-wt: 500;

    --bright-color: rgb(129, 182, 34);
    --subtle-accent: rgb(218, 216, 112);
    --bright-accent: rgb(255, 205, 88);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: var(--lt-font-wt);
}

.container {
    /* calculating width to 100% - padding keeps padding when window shrinks */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100svh;
}

.section {
    padding: 1rem;
}

.content {
    width: min(100%, 900px);
    margin: 0 auto;
}

.nav,
.hero,
.footer {
    background-color: rgb(129, 182, 34);
}

.pullout {
    background-color: var(--bright-accent);
}

.gallery,
.call {
    background-color: var(--subtle-accent);
}

.nav>.content {
    font-weight: var(--md-font-wt);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.hero>.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.left-hero {
    width: clamp(300px, 50%, 75%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.header-text {
    font-size: 2rem;
    font-weight: var(--dk-font-wt);
    padding-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    width: max-content;
    background-color: darkgreen;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: var(--dk-font-wt);
}

.right-hero>img {
    flex: 1;
    max-width: 400px;
}

.gallery>.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    max-width: 128px;
}

.sq-placeholder {
    border: solid var(--bright-color);
    border-radius: 25px;
    width: 128px;
    height: 128px;
}

.card-text {
    padding: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
}

.pullout.section {
    flex: 1;
}

.pullout>.content>p {
    font-size: 1.5rem;
}

#quoteSource {
    text-align: right;
}

.call.section {
    padding: 3rem 0;
}
.call > .content {
    padding: 3rem;
    width: clamp(300px, 50%, 700px);
    background-color: var(--bright-color);
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.call-text:first-child {
    font-size: 1.25rem;
}

.modal-subtext {
    font-size: 1rem;
}


.footer>.content {
    text-align: center;
    font-size: 0.85rem;
}